<footer>
  <div class="container">
    <div class="content-footer row">
      <div class="column-footer col-lg-5 col-md-8 col-sm-7">
        <h3>Contact information</h3>
        <ul>
          <li>ADDRESS: Norfolk St, New York City, NY 10002</li>
          <li>FOR MEETING: (201) 320 &lambda;&lambda;&lambda;&lambda;</li>
          <li id="follow-us">FOLLOW US ON:
            <a href="#"><img src="images/facebook1.png" style="width:30px; height:30px"</img></a>
            <a href="#"><img src="images/linkedin1.png" style="width:30px; height:30px"</img></a>
            <a href="#"><img src="images/twitter1.png" style="width:30px; height:30px"</img></a>
            <a href="#"><img src="images/rss1.png" style="width:30px; height:30px"</img></i></a>
          </li>
        </ul>
      </div>

      <div class="column-footer col-lg-4 col-md-5 col-sm-7">
        <h3>Hours</h3>
        <ul id="restaurant-hours">
          <li>
            <span class="span-left">Monday - Sunday</span>
            <span class="span-right">Crypto never Closes</span>
          </li>
          <li>
            <span class="span-left">All day, all night</span>
            <span class="span-right">We are making Fireworks</span>
          </li>
        </ul>
        <div class="line-divide first-line"></div>
      </div>

      <div class="column-footer col-lg-3 col-md-3 col-sm-7">
        <h3>Useful links</h3>
        <ul id="useful-links">
          <li>
            <span class="span-left">
              <a href="index.html">Home</a>
            </span>
            <span class="span-right">
              <a href="shop-page.html">Features</a>
            </span>
          </li>
          <li>
            <span class="span-left">
              <a href="menu-01.html">Studies</a>
            </span>
            <span class="span-right">
              <a href="blog-list-with-sidebar-01.html">Blog</a>
            </span>
          </li>
          <li>
            <span class="span-left">
              <a href="reservation-01.html">Meetings</a>
            </span>
            <span class="span-right">
              <a href="contact-us.html">Contact us</a>
            </span>
          </li>
          <li><a href="about-us.html">About us</a></li>
        </ul>
        <div class="line-divide second-line"></div>
      </div>
    </div>
  </div>
  <div class="wrap-bottom-footer">
    <div class="container">
      <div class="bottom-footer row justify-content-between">
        <div class="col-12 col-sm-7">© 2018 Type3 Assets. All rights reserved.</div>
        <div class="col-12 col-sm-5"><span>Privacy policy</span><span>Terms of use</span></div>
      </div>
    </div>
  </div>
</footer>
