<!DOCTYPE html>
<html lang="en">

{{>head}}


<body  style="background-color:#BABABA">

{{>navbar}}


<section  id="slider-deli">
<div>
  <br/><br/><br/><br/><br/>
  <ul>
  <!-- currency selection menu -->
  <div class="row wrap-food-menu">
    <div id="food-menu" style="margin:10px">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        {{#options}}
        <li class="nav-item">
          <a class="nav-link" id="tab-dinner" data-toggle="tab" href="/graph?ccy={{text}}" role="tab">{{text}}</a>
        </li>
        {{/options}}
      </ul>
    </div>
  </div>

  <li>
  </li>
  <br/>
  <li>
    <p id="correlations" style="margin:25px;color:black"></p>
    <script>
    // Display to correlation data
    var corString = "<b>Placeholder for detailed correlation analysis.</b>";
    document.getElementById("correlations").innerHTML = corString;
    </script>
  </li>
  <li>
    <img src="images/CorChart.jpg" style="width:600px;height:600px;"></img>
  </li>
  <li>
    <br/>
    <svg width="1000" height="700"></svg>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="js/chartBrushed.js"></script>
    <script>
      /* type(d) Inner function
       * desc: Converts date and price fields loaded from the .csv file from strings into actual data types.
       *       Conversion is done in the d3.csv(dataFile, type) method using the second parameter to specify this.
       */
      function type(d) {
        // var parseDate = d3.timeParse("%b %Y");
        var parseDate = d3.timeParse("%m/%d/%Y");

        d.date = parseDate(d.date);
        d.price = +d.price;
        d["Transaction Count"] = +d["Transaction Count"];
        return d;
      }

      // Read data
      function xhrSuccess() {
        this.callback.apply(this, this.arguments);
      }

      function xhrError() {
        console.error(this.statusText);
      }

      function loadDataFromURL(url, callback, arg1 /*, opt_arg1, opt_arg2, ... */) {
          var xhr = new XMLHttpRequest();
          xhr.callback = callback;
          xhr.arguments = Array.prototype.slice.call(arguments, 2);
          xhr.onload = xhrSuccess;
          xhr.onerror = xhrError;
          xhr.open("GET", url, true);
          xhr.send(null);
      }

      // Todo - need to find a method to manage returned data.
      var DBResults;

      function renderGraph(itemToGraph) {

        console.log("renderGraph( ", itemToGraph, " )");
        if(this.responseText!=undefined)
          DBResults = JSON.parse(this.responseText);

        // Extract price, transaction and correlation data from the DB results
        var dataReturned = DBResults.PriceTrans;
        var correlations = DBResults.Correlations;
        // Find the selected currency in the data returned
        var selectItem = 0;
        for(i=0; i<dataReturned.length; i++) {
          if(dataReturned[i].header.ticker === itemToGraph)
            selectItem = i;
        }
        var CryptoData = dataReturned[selectItem].data;
        CryptoData.map(item => {
          item["date"] = new Date(item["date"]);
          item["price"] = +item["price(USD)"];
          item["Transaction Count"] = +item["txCount"];
        });
        // Render graph data
        renderBrushedLineChart(CryptoData);

      }

      var dataURL = "/api/crypto?ticker={{selectedCCY}}";
      console.log("loadDataFromURL:", dataURL);
      loadDataFromURL(dataURL, renderGraph, "{{selectedCCY}}");
    </script>

  </li>
</ul>
</div>
</section>


</body>

</html>
